{% extends "ChateaClientBundle::layout.html.twig" %}

{% block content_header_more %}
    {{ parent() }}
    <li>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('_antwebes_chateaclient_logout') }}">Logout</a></li>
{% endblock %}
