{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
 <!--  @ChateaClientBundle:Security:login.html.twig -->
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
 
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
 	{# redirigir al usuario a una URL concreta después del login #}
 	<input type="hidden" name="_target_path" value="/api/doc" />
    <button type="submit">login</button>
</form>