{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
 <!--  @ChateaClientBundle:Security:login.html.twig -->
<form action="{{ path('chateclient_login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
 
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
 	{# redirigir al usuario a una URL concreta después del login
 		<input type="hidden" name="_target_path" value="/api/doc" />
 		
 	 #}
 	 <input type="hidden" id="login_csrf_token" name="login_csrf_token" value="{{ csrf_token }}" />
 	 
    <button type="submit">login</button>
</form>