{% extends "ChateaClientBundle::layout.html.twig" %}
{% block body %}
<ul>
    <li>
        Error code: {{ errors.code }}
    </li>
    <li>
        Error message: {{ errors.message }}
    </li>
</ul>
<ul class="return_action">
    <li>
        <a href="{{ return }}">
            << Volver
        </a>
    </li>
</ul>
{% endblock %}