{% extends 'ChateaClientBundle::mainLayout.html.twig' %}

{% trans_default_domain 'ChannelRegistration' %}

{% block chatea_title %}{{ 'register-channel.legend' | trans }}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'register-channel.legend' | trans }}</h1>
    <p>{{ 'register.channel.success' | trans }}</p>
{% endblock %}
