{% extends 'ChateaClientBundle::mainLayout.html.twig' %}

{% trans_default_domain 'UserChange' %}

{% block chatea_title %}{{ 'user.change_password' | trans }}{% endblock %}

{% block chatea_body %}
    <h1>{{ 'user.change_password' | trans }}</h1>
    <p>{{ 'user.change_password.success' | trans }}</p>
{% endblock %}
