{% extends 'ChateaClientBundle::mainLayout.html.twig' %}

{% trans_default_domain 'UserRegistration' %}

{% block chatea_title %}{{ 'user.register.confirm.success' | trans }}{% endblock %}

{% block chatea_body %}
    <h2>{% trans with { '%username%': app.user.username } %}user.register.confirmed.title{% endtrans %}</h2>
    {% trans with { '%username%': app.user.username } %}user.register.confirmed.message{% endtrans %}
{% endblock %}
